{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "react-in-jsx-scope": "off",
    "no-undef": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx", ".svg"]
      }
    ],
    "skipBlankLines": 0,
    "react/react-in-jsx-scope": 0,
    "default-case": 0,
    "react/jsx-props-no-spreading": 0,
    "import/extensions": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "ignoreComments": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": 0
  }
}
